img {
  float: top;
}

div {
  margin: 0 auto;
  float: bottom;
  text-align: center;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
