<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.malai.instrument.presentation.InstrumentModelWizardID"
            name="%_UI_InstrumentModelWizard_label"
            class="org.malai.instrument.presentation.InstrumentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InstrumentModelFile.gif">
         <description>%_UI_InstrumentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.malai.instrument.presentation.InstrumentEditorID"
            name="%_UI_InstrumentEditor_label"
            icon="icons/full/obj16/InstrumentModelFile.gif"
            extensions="instrument"
            class="org.malai.instrument.presentation.InstrumentEditor"
            contributorClass="org.malai.instrument.presentation.InstrumentActionBarContributor">
      </editor>
   </extension>

</plugin>
