<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.malai/event/1_0_0//org/malai/event"
            class="org.malai.event.EventPackage"
            genModel="src/main/metamodel/event.genmodel"/>
      <package
            uri="http://org.malai/interaction/1_0_0//org/malai/interaction"
            class="org.malai.interaction.InteractionPackage"
            genModel="src/main/metamodel/interaction.genmodel"/>
      <package
            uri="http://org.malai/action/1_0_0//org/malai/action"
            class="org.malai.action.ActionPackage"
            genModel="src/main/metamodel/action.genmodel"/>
      <package
            uri="http://org.malai/instrument/1_0_0//org/malai/instrument"
            class="org.malai.instrument.InstrumentPackage"
            genModel="src/main/metamodel/instrument.genmodel"/>
      <package
            uri="http://org.malai/widget/1_0_0//org/malai/widget"
            class="org.malai.widget.WidgetPackage"
            genModel="src/main/metamodel/widget.genmodel"/>
   </extension>

</plugin>
