<div id="FSMselector">
  <app-title name="FSM part selector"></app-title>
  <svg>
    <g #State class="init-state">
      <circle cx="250" cy="150" r="40" stroke="black" stroke-width="3" fill="black"></circle>
    </g>
    <g #State class="std-state">
      <circle cx="250" cy="300" r="40" stroke="black" stroke-width="3" fill="white"></circle>
    </g>
    <g #State class="term-state">
      <circle cx="250" cy="450" r="40" stroke="black" stroke-width="3" fill="white"></circle>
      <text x="250" y="455" text-anchor="middle" alignment-baseline="middle">0</text>
    </g>
    <g #State class="cancel-state">
      <circle cx="250" cy="600" r="40" stroke="black" stroke-width="3" fill="white"></circle>
      <text x="250" y="605" text-anchor="middle" alignment-baseline="middle">1</text>
    </g>
  </svg>
</div>
