<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.malai.interaction.presentation.InteractionModelWizardID"
            name="%_UI_InteractionModelWizard_label"
            class="org.malai.interaction.presentation.InteractionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InteractionModelFile.gif">
         <description>%_UI_InteractionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.malai.interaction.presentation.InteractionEditorID"
            name="%_UI_InteractionEditor_label"
            icon="icons/full/obj16/InteractionModelFile.gif"
            extensions="interaction"
            class="org.malai.interaction.presentation.InteractionEditor"
            contributorClass="org.malai.interaction.presentation.InteractionActionBarContributor">
      </editor>
   </extension>

</plugin>
