Source: java-malai
Section: java
Priority: optional
Maintainer: Arnaud BLOUIN <arno_b@users.sourceforge.net>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: java-gcj-compat-dev,
                     ant
Standards-Version: 3.9.3
DM-Upload-Allowed: yes

Package: libmalai-java
Architecture: all
Depends: ${misc:Depends}
Suggests: libmalai-java-doc
Description: Java implementation of the Malai architectural design 
 pattern.
 .
 Malai can be viewed as an major step beyond MVC where the controller
 has been completely rethought to consider modern evolutions of the
 interactivity of systems.

Package: libmalai-java-doc
Architecture: all
Section: doc
Depends: default-jdk-doc,
          ${misc:Depends}
Description: API documentation for malai java library
 Malai is an architectural design pattern for developing interactive
 systems.
 .
 This package contains the API documentation for the library.
 .
 See the package libmalai-java for further information.
