.global-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

table {
    position: center;
    width: 80%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.calendar-row {
    height: 10%;
}

th {
    height: 2px;
    width: 12%;
}

td {
    height: 100px;
    border: black 2px solid;
}

td Day {
    height: 100%;
}

#button-left {
    align-self: center;
}

#button-left span {
    cursor: pointer;
}

#button-left span:before {
    content: '\00AB';
    top: 0;
}

#button-right {
    align-self: center;
}

#button-right span {
    cursor: pointer;
}

#button-right span:after {
    content: '\00BB';
}