app-menu-button {
  display: inline-block;
  margin-top : 20px;
  width: 100%;
}

a {
  float: top;
}

#FSMselector {
  width: 29%;
  height: 900px;
  float: right;
  border: solid black 2px;
}

canvas {
  position: relative;
  width: 100%;
  height: 881px;
  border: solid black 1px;
}

#Editor {
  float: left;
  width: 70%;
  height: 900px;
  border: solid black 2px;
}
