<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.malai.widget.presentation.WidgetModelWizardID"
            name="%_UI_WidgetModelWizard_label"
            class="org.malai.widget.presentation.WidgetModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WidgetModelFile.gif">
         <description>%_UI_WidgetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.malai.widget.presentation.WidgetEditorID"
            name="%_UI_WidgetEditor_label"
            icon="icons/full/obj16/WidgetModelFile.gif"
            extensions="widget"
            class="org.malai.widget.presentation.WidgetEditor"
            contributorClass="org.malai.widget.presentation.WidgetActionBarContributor">
      </editor>
   </extension>

</plugin>
